body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #78cccb;
}

.navbar {
  background-color: #222;
}

#boardWrapper {
  background-color: #ff5e5b;
  border-radius: 20px;
  padding: 3rem;
  text-align: center;
  max-width: 900px;
  margin: 2rem auto;
}

#boardWrapper {
  transform: scale(1.1);
  transform-origin: top center; /* Adjust origin as needed */
}

#grid-container {
  width: 768px;
  height: 512px;
  margin: 0 auto;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.grid-cell {
  border: 0.1px solid black;
  box-sizing: border-box;
}

.badge {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}

#drawingContainer {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#clear,
#colorPicker {
  cursor: pointer;
  transition: transform 0.2s;
}

#clear:hover,
#colorPicker:hover {
  transform: scale(1.1);
}

#colorPicker {
  width: 60px;
  height: 60px;
}

#clear {
  font-size: 1.5rem;
}
